<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>PICTORICAL</title>
	</head>
	<body>
		<h1>Blacklist Your Flickr Username From These Slideshows</h1>
		{% if username %}
        	<h2>"{{ username }}" has been blacklisted.</h2>
      	{% else %}
      		<p>The User ID we find for your username will be added to the blacklist published with this application, which it then 
      		uses when vetting photos for display. We may contact you at your Flickr account to make sure it was you, and not someone
      		else, who added you to the blacklist. Once you are added, you should go to the <a href="/">main page</a> and fully refresh
      		your browser to get the latest application before testing that your photos have been removed.</p>
	      	{% if error %}
	      		<p class="error">{{ error }}</p>
	      	{% endif %}
		    <form method="post">
		      <label for="user">Flickr Username</label>
		      <input type="text" name="user" size="30"/>
		      <input type="submit" value="Add To Blacklist">
		    </form>
		{% endif %}
	</body>
</html>