{% extends "_aux.djml" %}
{%hyde
    title: "About"
%}
{% block content %}
		<h3>My Motivation</h3>
		
		<p>I built this site because my wife is always like, "I really better take some pictures of the mural on such
		and such corner of Philadelphia, because you never know when they're just going to tear something like that
		down, and I've always liked it." I realized that there are already probably plenty of photos of that
		corner, geotagged with that location, publicly available on sites like <a href="http://www.flickr.com">Flickr</a>, 
		<a href="http://www.panoramio.com">Panoramio</a>, and <a href="http://www.picasa.com">Picasa</a>.</p>
		
		<p>In fact, in the years since Flickr first started supporting geotagging, they've amassed what amounts to a recent 
		photographic history of many small places in the world. We should spend time enjoying this accomplishment. 
		Using the information that Flickr and Panoramio publish about these public images, I put together this historical
		slideshow application. It shows a slideshow of the most "interesting" public photos in an area, from oldest to 
		newest. At its best, it's a visual survey of a place's history. I think it makes for some fun viewing. While I 
		was testing it, the images that popped up reminded me of places in my city that I love. I hope you will 
		find the same things.</p>
		
		<h3>Links</h3>
		
		<p>Slideshow links on this site are unique. When you are viewing a slideshow, you can copy the link in the address bar
		and bookmark it or share it. The photos in the slideshow may change over time, as people add and remove photos from
		that location.</p>
		
		<h3>The Images</h3>
		
		<p>All the images displayed on this site are provided by their owners for public viewing on any site.</p>
		
		<p>In the case of Flickr images, this site only displays images marked "public" and carrying a license which allows
		for reuse with attribution. Images on Flickr that are publicly accessible but marked "All Rights
		Reserved" (the default) are excluded from this application. So, if your images are on Flickr and you want them
		to show up in these slideshows, you must 
		<a href="http://www.flickr.com/account/prefs/license/" title="Flickr's license preferences page">apply some form of license</a>, 
		such as one of the 
		<a href="http://www.flickr.com/creativecommons/" title="Flickr's descriptions of Creative Commons licenses">Creative Commons licenses</a>.
		If your Flickr images are showing up on this site and you want them removed, you can do this in one of three ways:
		</p>
		
		<ol>
			<li>Remove the permissive license from your photo in Flickr, marking it "All Rights Reserved" instead. You 
			can still keep it public. This will remove the photo from all compliant third-party applications, including 
			this one. It may take a few hours for this to kick in.</li>
			<li>Remove the geotagging information from your photos on the Flickr website by going to 
			Actions&rarr;Edit location on your map&rarr;Remove this photo from the map. This will remove your photos from
			all applications that use geotagging to find images.</li>
			<li>If you want to keep your current license and leave your photos geotagged, but have only this application 
			updated to specifically exclude your images, you may submit your Flickr username to the application blacklist 
			<a href="blacklist/add">here</a>.</li>
		</ol>
		
		<p>In the case of Panoramio images, this site displays all public images, per the rights granted to third party sites 
		like this one in Panoramio's user agreement.</p> 
		
		<h3>Issues</h3>
		
		<p>Please visit the 
		<a href="http://github.com/patrickboe/pictorical/issues">issue tracking section of the 
		project's github page</a> to see the list of open bugs, submit bug reports, or request 
		new features.</p>
		
		<h3>Contributions</h3>
		
		<p>As I write this, this site could really use the attentions of a designer. Help? If you have a stylesheet you 
		think could make this look less like a dookie, I'd like to take a look at it. A favicon and a real logo would be nice too. And 
		really, I'm interested in any and all ideas for and better yet, implementations of new features for the site. If you
		enjoy this site and have ideas, I'd appreciate your help. Contact me through github.</p>
{% endblock %}