{% extends "_page.html" %}
{%hyde
    title: "Make a Scene"
%}
	{% block head %}
	<link type="text/css" href="/media/css/jquery-ui-1.8.5.custom.css" rel="stylesheet" />	
	{% endblock %}
	{% block content %}
		<div id="map">
			<header>
				<h1>Pictorical</h1> 
				<p class="hints">Click to choose a slideshow area. Try your street corner.</p>
			</header>
			<nav>
				<input type="search" id="mapSearch" size="20" placeholder="Go To"/>
			</nav>
		</div>
		<div id="slideshow">
			<header><h1>Pictorical</h1></header>
			<nav>
				<a class="back" href="#">Back To Map</a>
				<a class="pause" href="#pause">Pause</a>
				<a class="prev" href="#prev">Previous</a>
				<a class="next" href="#next">Next</a>
			</nav>
			<ul class="slideshow"></ul>
			<footer>
				<span class="copyright">Website &copy;2010 Patrick Boe</span>
				<a href="about" class="about" title="About This Site">About</a>
				<a href="terms" class="terms" title="Pictorical Terms of Use and Privacy Policy">Terms of Use, Privacy</a>
				<a href="http://github.com/patrickboe/pictorical" class="source">Source Code</a>
			</footer>
		</div>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?key=ABQIAAAABYlRyNYUhba29cQamRPQKBR8ulp0qGQo-uK4cerJzxtvcpEfYhQUvUPW8MsKBdPRILeaaD87k6iEfw"></script>
		<script type="text/javascript" src="/media/js/modernizr-1.5.min.js"></script>
		<script type="text/javascript" src="/media/js/jquery-ui-1.8.5.custom.min.js"></script>
		<script type="text/javascript" src="/media/js/jquery.cycle.min.js"></script>
		<script type="text/javascript" src="/media/js/jquery.ba-hashchange.min.js"></script>
		<script type="text/javascript" src="/media/js/index.js"></script>
	{% endblock %}