{% extends "_page.djml" %}
{%hyde
    title: "Slideshows By Location"
    id: "index"
%}
	{% block head %}
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	{% endblock %}
	{% block content %}
		<div id="map">
			<header>
				<h1>{{site.name}}</h1> 
				<p class="hints">Click somewhere to choose a slideshow area.</p>
			</header>
			<h2 class="geolocating" id="loadingDialog">Locating your neighborhood...</h2>
			<a class="geolocating" id="skipGeolocation" href="#skip">Skip to Philadelphia instead</a>
			<nav>
				<input type="search" id="mapSearch" size="20" placeholder="Go To"/>
			</nav>
			{% include "_footer.djml" %}
		</div>
		<div id="slideshow">
			<h1>{{site.name}}</h1>
			<menu>
				<div class="addthis_toolbox addthis_default_style">
				<a href="http://www.addthis.com/bookmark.php?v=250&amp;username=xa-4cd0eaab34e60cd7" title="Share this Slideshow" class="addthis_button_compact"></a>
				</div>
				<a class="back" title="Return to Map Page" href="#">Map</a>
				<a class="pause" title="Pause Slideshow" href="#pause">Pause</a>
				<a class="prev" title="Return to Previous Photo" href="#prev">Previous</a>
				<a class="next" title="Advance to Next Photo" href="#next">Next</a>
			</menu>
			<ul class="slideshow"></ul>
			{% include "_footer.djml" %}
		</div>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.1&amp;sensor=false"></script>
		<script type="text/javascript" src="http://www.google.com/jsapi?key=$CONF_google_api_key"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
		<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.cycle/2.88/jquery.cycle.min.js"></script>
		<script type="text/javascript" src="$CONF_media_loc/js/app-$CONF_version_name.js"></script>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=$CONF_addthis_username"></script>
	{% endblock %}