/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* end reset stylesheet */

/* sitewide styles */ 
html,body { height: 100% }
body, body * {font-family:helvetica,arial,freesans,clean,sans-serif}

/* styles for index page */ 
body#index { background-color: black; }
#map {height: 100%; width: 100%; display: none }
#map header, #map footer, #map nav {background-color: white; padding: .3em}
#map footer nav { padding: 0}
#map footer {font-size: small}
#map header h1, #map header p, #map header {display: inline}
#map .hints.loading {color: red; font-weight: bold}
#slideshow { position: relative; font-size:small; display:none; color:white; height: 100%}
#slideshow a, #slideshow a:visited { color: white }
#slideshow h1 {font-size: 2em; padding: .3em}
#slideshow nav {padding: 1em}
#slideshow nav, #slideshow h1 {float: left;  z-index:1; position: relative; background: black}
#slideshow ul { clear: both}
#slideshow li { height: 100%; width: 100%}
#slideshow img.slide { height: 100%; margin-left: auto; margin-right: auto; display: block }
#slideshow li footer { right: auto; top: auto; bottom: 0; left: 0; padding: 1em; width: 100%; position: fixed; text-align: center; background: black; z-index: 1}
#slideshow label { padding: 0 1em; }
#slideshow footer img { padding: 0 1em 0 0;}
#slideshow footer { float: right; position: absolute; top: 0; right: 0; z-index: 0}

/* styles for auxiliary pages. Adapted from the 100% height stylesheet at http://www.xs4all.nl/~peterned/examples/css/layout1.css */
body#info { 
	background: #4B674B;
	color: #444}
body#info * { color: #333 }

body#info h1,body#info h2,body#info h3,body#info h4,body#info h5{ font-family: georgia,serif }
body#info h1 { 
	font-size:3em; 
	margin:0.1em 0;
}

body#info h2 {
	font-size:2em; 
	margin: 0 0 0.3em;
}

#recaptcha_widget_div{
	margin: 1em 0;
}

body#info h3{ font-size:1.2em; margin: 0 0 0.5em }

body#info h4{ font-size: 1em; margin: 0 0 0.5em }

body#info h1, body#info h2 {
	color: #4B674B;
}

body#info a, body#info .error {
	color:#FF0000;
}

body#info p, body#info ol, body#info ul { 
	line-height:1.5; 
	margin:0 0 1em;
}

body#info div#container {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width:750px;
	background:#EDEAE2; 
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
}

body#info header {
	padding:1em;
	background:#B3D29B;
	border-bottom:6px double gray;
}
body#info header p {
	font-style:italic;
	font-size:1.1em;
	margin:0;
}

body#info div#content {
	padding:1em 1em 5em; /* bottom padding for footer */
}

body#info div#content p, body#info div#content form {
	text-align:justify;
	padding:0 1em;
}

body#info div#content ol, body#info div#content ul {
	text-align:justify;
	padding:0 1em 0 3em;
}

body#info div#content ul{
	list-style: circle;
}

body#info div#content ul ul{
	padding-top: 1em;
}

body#info footer {
	position: absolute;
	width:100%;
	bottom:0; /* stick to bottom */
	background:#B3D29B;
	border-top:6px double gray;
}

body#info footer nav {
	padding:1em;
	margin:0;
}