/* thanks, eric meyer! */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,body { height: 100%; font-family:helvetica,arial,freesans,clean,sans-serif; margin: 0px; padding: 0px; background-color: black }
#map {height: 100%; width: 100%; display: none }
#map header, #map footer, #map nav {background-color: white; padding: 5px}
#map footer {font-size: small}
#map header h1, #map header p, #map header {display: inline}
#map .hints.loading {color: red; font-weight: bold}
#slideshow { position: relative; font-size:small; display:none; color:white; height: 100%}
#slideshow h1 {display: inline; font-size: 2em; padding-right: 2em}
#slideshow nav {display: inline;}
#slideshow a, #slideshow a:visited { color: white }
#slideshow div.first { padding: 1em;}
#slideshow li { height: 100% }
#slideshow img.slide { display: block; height: 100% }
#slideshow li footer { right: auto; top: auto; bottom: 0; padding: 1em;}
#slideshow label { padding: 0 1em; }
#slideshow footer img { padding: 0 1em 0 0;}
#slideshow footer { float: left; position: fixed; padding: 2em 1em 1em; top: 0; right: 0;}